body {
  font-family: Arial;
  color: white;
}

.split {
  height: 100%;
  width: 24%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: rgb(103, 143, 219);
}

.right {
  right: 0;
}

.centered {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.top {
  position: left;
  top: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.bottom {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.searchWrap {
  position: relative;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered img {
  width: 150px;
  border-radius: 50%;
}